<div class="container">
    <div class="title-todo">
        <h1>{{ 'TODO_LIST.TITLE' | translate }}</h1>
    </div>
    <div class="content-todo">
        <div class="example-container">
            <h2>To do</h2>

            <div
                cdkDropList
                #todoList="cdkDropList"
                [cdkDropListData]="todo"
                [cdkDropListConnectedTo]="[doneList]"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of todo" cdkDrag>
                    <div class="content-todo">
                        <div><a class="btn btn-link" (click)="detail(item)">{{item.title}}</a></div>
                        <div>{{item.description}}</div>
                    </div>
                    <div class="action-todo">
                        <button class="mr-3" mat-mini-fab color="primary">
                            <mat-icon>create</mat-icon>
                        </button>
                        <button mat-mini-fab color="primary">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="example-container">
            <h2>Done</h2>

            <div
                cdkDropList
                #doneList="cdkDropList"
                [cdkDropListData]="done"
                [cdkDropListConnectedTo]="[todoList]"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of done" cdkDrag>
                    <div class="content-todo">
                        <div><a class="btn btn-link" (click)="detail(item)">{{item.title}}</a></div>
                        <div>{{item.description}}</div>
                    </div>
                    <div class="action-todo">
                        <button class="mr-3" mat-mini-fab color="primary">
                            <mat-icon>create</mat-icon>
                        </button>
                        <button mat-mini-fab color="primary">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
