.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .content {
    min-width: 300px;
    min-height: 50px;
  }

  .example-form {
    min-width: 300px;
    max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .notify-forgot {
      width: 350px;
      word-break: break-word;
      text-align: center;
    }

    .c-red {
      color: red;
    }

    .example-full-width {
      width: 100%;
    }
  }
}
