<h2 mat-dialog-title class="d-flex justify-content-center">{{ 'COMMON.RESET_PASSWORD' | translate}}</h2>
<mat-dialog-content class="mat-typography">
  <div class="form">
    <div class="content">
      <form *ngIf="!isSend"
            [formGroup]="formEmail"
      >
        <mat-form-field class="example-full-width w-100">
          <input
            matInput
            [placeholder]="'COMMON.EMAIL' | translate"
            formControlName="email"
          >
          <mat-error>{{ ('COMMON.EMAIL' | translate) + ' ' + (getErrorFormEmail('email') | translate:{max_length: 255}) }}</mat-error>
        </mat-form-field>
      </form>
      <form
        *ngIf="isSend"
        [formGroup]="formForgotPassword"
        class="example-form"
      >
        <div class="notify-forgot" *ngIf="count">{{ 'FORGOT_PASSWORD.DESCRIPTION' | translate }} (<span
          class="c-red">{{ counter$ | async }}s</span>)
        </div>
        <div class="notify-forgot c-red" *ngIf="!count">{{ 'FORGOT_PASSWORD.DESCRIPTION_ERROR' | translate }}</div>
        <mat-form-field class="example-full-width">
          <input
            matInput
            [placeholder]="'FORGOT_PASSWORD.VERIFY_CODE' | translate"
            formControlName="code"
          >
          <mat-error>{{ ('FORGOT_PASSWORD.VERIFY_CODE' | translate) + ' ' + (getError('code') | translate:{length: 255}) }}</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input
            matInput
            [placeholder]="'FORGOT_PASSWORD.NEW_PASSWORD' | translate"
            type="password"
            formControlName="password"
          >
          <mat-error>{{ ('FORGOT_PASSWORD.NEW_PASSWORD' | translate) + ' ' + (getError('password') | translate:{max_length: 20, min_length: 4}) }}</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input
            matInput
            [placeholder]="'FORGOT_PASSWORD.CONFIRM_PASSWORD' | translate"
            type="password"
            formControlName="password_confirmation"
          >
          <mat-error>{{ ('FORGOT_PASSWORD.CONFIRM_PASSWORD' | translate) + ' ' + (getError('password_confirmation') | translate:{max_length: 20, min_length: 4}) }}</mat-error>
        </mat-form-field>

      </form>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="{{isSend ? 'justify-content-between' : 'justify-content-end'}}">
  <div>
    <a
      class="btn btn-link pl-0"
      *ngIf="isSend"
      (click)="reSend()"
    >
      {{ 'FORGOT_PASSWORD.RESEND_NEW_VERIFY_CODE' | translate}}
    </a>
  </div>
  <div>
    <button mat-button mat-dialog-close>{{ 'COMMON.CANCEL' | translate}}</button>
    <button
      mat-raised-button
      color="primary"
      (click)="send()"
      *ngIf="!isSend"
    >
      {{ 'FORGOT_PASSWORD.SEND' | translate}}
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="submit()"
      *ngIf="isSend"
    >
      {{ 'COMMON.CONFIRM' | translate}}
    </button>
  </div>
</mat-dialog-actions>
