<h2 mat-dialog-title>{{ 'TODO_LIST.ADD.TITLE' | translate}}</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="formAdd">
        <mat-form-field class="example-full-width w-100">
            <label class="w-100">
                <input
                    matInput
                    [placeholder]="'TODO_LIST.ADD.PLACEHOLDER_ADD' | translate"
                    formControlName="title"
                >
            </label>
            <mat-error>{{ ('TODO_LIST.ADD.PLACEHOLDER_ADD' | translate) + ' ' + (getError('title') | translate:{max_length: 255}) }}</mat-error>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions class="justify-content-end">
    <button class="btn" mat-button mat-dialog-close>{{ 'COMMON.CANCEL' | translate}}</button>
    <button class="btn" mat-button color="primary" (click)="submit()">{{ 'COMMON.ADD' | translate}}</button>
</mat-dialog-actions>
